@{
    ViewData["Title"] = "About LogMeOffUI";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a web application used to disable the accounts of the users on your machines in your local network.</p>
