@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Microsoft BLDG 30<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    777-867-5309
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bryant10jason@yahoo.com">bryant10jason@yahoo.com</a><br />
</address>
